/* Coolors Exported Palette - coolors.co/f9f8d6-f9cac7-9db5b2-f9729f-f9319c */
:root {
  --color1: hsl(58, 74%, 91%);
  --color2: hsl(4, 81%, 88%);
  --color3: hsl(172, 14%, 66%);
  --color4: hsl(340, 92%, 71%);
  --color5: hsl(328, 94%, 58%);
  --font1: "Magneto, Bold Semi-Expanded; Magneto";
  --font2: "Fira Code";
  --font3: "Snap ITC";
}
