/* Coolors Exported Palette - coolors.co/f9f8d6-f9cac7-9db5b2-f9729f-f9319c */

/* HSL */
$color1: hsla(58%, 74%, 91%, 1);
$color2: hsla(4%, 81%, 88%, 1);
$color3: hsla(173%, 14%, 66%, 1);
$color4: hsla(340%, 92%, 71%, 1);
$color5: hsla(328%, 94%, 58%, 1);

/* RGB */
$color1: rgba(249, 248, 214, 1);
$color2: rgba(249, 202, 199, 1);
$color3: rgba(157, 181, 178, 1);
$color4: rgba(249, 114, 159, 1);
$color5: rgba(249, 49, 156, 1);